#fondo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.Funkopop{
  position: relative;
  margin: 0 auto;
  height: 20cm;
  width: 15cm;
  top: 10px;
  left: 0;
  right: 0;

}

.cabeza {
  position: absolute;
  height: 230px;
  top: 60px;
  left: 3cm;
  right: 3cm;
  margin: 0 auto;
  background-color: #eac7a9;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;

}
.ojos {
  position: relative;
  height: 50px;
  top: 10px;
  left: 10px;
  right: 8px;
  margin: 0 auto;
  animation: mover-ojo 5s linear 0s 2 alternate;
}
.ojo {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: black;
  border-radius: 50%;
}
@keyframes mover-ojo {
  0%   {left:0px; top:0px;}
  25%  {left:20px; top:0px;}
  50%  {left:20px; top:20px;}
  75%  { left:0px; top:20px;}
  100% { left:0px; top:0px;}
}
@keyframes cambiar-color{
    0% {background-color: #ff0;}
   25% {background-color: #f80;}
   50% {background-color: #000;}
   75% {background-color: #f80;}
  100% {background-color: #ff0;}
}


.ojo-izquierdo {
  position: absolute;
  left: 1.25em;
  top: 0;

  /*animation: mover-ojo 5s linear 2s 2 alternate;*/
}
.ojo-derecho {
  position: absolute;
  right: 2.35em;
  top: 0;
}
.nariz {
  position: absolute;
  width: 0;
  height: 0;
  top: 9em;
  left: 9.5em;
  border-left: 30px solid #FCD1C6;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  transform:rotateZ(-90deg);
}
.pelo {
  position: relative;
  height: 50px;
  top: 0px;
  left: -7px;
  right: 10px;
  margin: 0 auto;
}
.pelo-izquierda {
  position: absolute;
  width: 20px;
  height: 150px;
  background-color: gray;
  border-radius: 10px;
}
.pelo-centro {
  position: absolute;
  width: 350px;
  height: 20px;
  background-color: gray;
  top: -5px;
  border-radius: 10px;
}
.pelo-derecha {
  position: absolute;
  width: 20px;
  height: 150px;
  background-color: gray;
  right: -12px;
  border-radius: 10px;
}
.cejas {
  position: relative;
  height: 50px;
  top: -60px;
  left: 0px;
  right: 10px;
  margin: 0 auto;
}
.ceja{
  position: absolute;
  width: 75px;
  height: 15px;
}
.ceja-izquierda{
  position: absolute;
  width: 75px;
  height: 10px;
  left: 30px;
  background-color: gray;
  border-radius: 5px;
  border-top-left-radius: 50px;
}
.ceja-derecha{
  position: absolute;
  width: 75px;
  height: 10px;
  right: 30px;
  background-color: gray;
  border-radius: 5px;
  border-top-right-radius: 50px;
}

.bigote{
  position: relative;
  height: 50px;
  top: 25px;
  left: 0px;
  right: 10px;
  margin: 0 auto;
  }
  .bigote-izquierda{
    position: absolute;
    width: 60px;
    height: 10px;
    left: 100px;
    background-color: gray;
    border-radius: 5px;
    border-top-left-radius: 50px;
  }
  .bigote-derecha{
    position: absolute;
    width: 60px;
    height: 10px;
    right: 105px;
    background-color: gray;
    border-radius: 5px;
    border-top-right-radius: 50px;
  }
  .cuerpo{
    position: relative;
    height: 150px;
    width: 120px;
    top: 8.2cm;
    left: 0cm;
    right: 0cm;
    margin: 0 auto;
    background-color: #1c9e99;
    animation-name: cambiar-color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
.cuello{
    position: absolute;
    height: 20px;
    width: 60px;
    top: -20px;
    left: 0cm;
    right: 0cm;
    margin: 0 auto;
    background-color: #eac7a9;
  }
  .numero{
      position: absolute;
      height: 20px;
      width: 38px;
      top: 40px;
      left: 1.6cm;
      right: 0cm;
      background-color: #0ABAB5;
      border-style: solid;
      border-color: #459BA7;
    }
    .num{
      margin: auto;
      color: white;
      font-style: "Comic Sans";
      font-weight: bolder;
      text-align: center;
    }

  .hombros{
    position: relative;
    height: 45px;
    width: 200px;
    top: 0;
    left: -38px;
    margin: 0 auto;
  }

  .hombro-derecho{
    position: absolute;
    width: 60px;
    height: 30px;
    right: 105px;
    background-color: #1c9e99;
    border-radius: 5px;
    border-top-right-radius: 50px;
    right: -17px;
    animation-name: cambiar-color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  .hombro-izquierdo{
    position: absolute;
    width: 60px;
    height: 30px;
    right: 105px;
    background-color: #1c9e99;
    border-radius: 5px;
    border-top-left-radius: 50px;
    left: -20px;
    animation-name: cambiar-color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

  .brazos{
    position: relative;
    height: 75px;
    width: 220px;
    top: -25px;
    left: -38px;
    margin: 0 auto;
  }
  .brazo-derecho{
    position: absolute;
    width: 35px;
    height: 80px;
    right: 105px;
    background-color: #1c9e99;
    border-radius: 5px;
    right: 3px;
    animation-name: cambiar-color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  .brazo-izquierdo{
    position: absolute;
    width: 35px;
    height: 80px;
    background-color: #1c9e99;
    border-radius: 5px;
    left: -20px;
    animation-name: cambiar-color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  .manos{
    position: relative;
    height: 75px;
    width: 240px;
    top: -25px;
    left: -60px;
    margin: 0 auto;
  }
  .mano-izquierda{
    position: absolute;
    width: 50px;
    height: 30px;
    background-color: #eac7a9;
    border-radius: 20px;
    left: -5px;
    top: 3px;
  }

  .mano-derecha{
    position: absolute;
    width: 50px;
    height: 30px;
    background-color: #eac7a9;
    border-radius: 20px;
    right: -5px;
    top: 3px;
  }

  .piernas{
    position: relative;
    height: 80px;
    width: 160px;
    top: -50px;
    left: -10px;
    margin: 0 auto;
  }
  .cinturon{
    position: absolute;
    margin: 0 auto;
    height: 10px;
    width: 120px;
    top: -30px;
    left: 10px;
    background-color: #459BA7;
  }
  .pierna-izq{
    position: absolute;
    width: 40px;
    height: 100px;
    right: 105px;
    background-color: #1c9e99;
    border-radius: 5px;
    left: 10px;
    animation-name: cambiar-color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  .pierna-der{
    position: absolute;
    width: 40px;
    height: 100px;
    right: 105px;
    background-color: #1c9e99;
    border-radius: 5px;
    right: 30px;
    animation-name: cambiar-color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  .bambas{
    position: relative;
    height: 50px;
    width: 120px;
    top: -30px;
    left: 0px;
    margin: 0 auto;
  }
  .bamba-izq{
    position: absolute;
    width: 60px;
    height: 30px;
    background-color: #E7EBDA;
    border-radius: 5px;
    border-top-left-radius: 50px;
    left: -20px;
  }
  .bamba-der{
    position: absolute;
    width: 60px;
    height: 30px;
    background-color: #E7EBDA;
    border-radius: 5px;
    border-top-right-radius: 50px;
    right: -20px;
  }
